.answer{
  background-color: white;
  border-radius: 15%;
  color: rgb(139, 0, 0);
}

.navcontainer{
  background-color: rgb(139, 0, 0);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navNames{
  background-color: rgb(139, 0, 0) !important;
  display: flex;
  flex-direction: row;
  font-size: 40px;
  align-items: center;
  column-gap: 100px;
  justify-content: center;
  object-fit: fill;
}

.space{
  margin-top: 20px;
}

title{
  width: 100px;
  height: auto;
  text-align: center;
}

.header{
  object-fit: cover !important;
}
