/* GLOBAL */

:root {
  box-sizing: border-box;
}

::before, 
*, 
::after {
  box-sizing: inherit; 
  margin: 0; 
  padding: 0; 
}

body {
  position: relative; 
  min-height: 200vh; 
  padding-bottom: 3.6rem; 
  
  font-family: 'Comic Sans', cursive; 
}

a {
  text-decoration: none;
}